<section id="topBar">
  <ul>
    <li><a style="float: left" href="default.asp">Company name</a></li>
    <li style="padding-left: 20px"><input style="width: 70%; padding-top: 7.5px" type="text" name="search" placeholder="Search"></li>
    <li><a style="float: right" href="about.asp">Sign out</a></li>
  </ul>
</section>

<section id="sideBar">
  <ul>
    <li><a href="default.asp">Dashboard</a></li>
    <li><a href="news.asp">Orders</a></li>
    <li><a href="contact.asp">Users</a></li>
    <li><a href="about.asp">Service Providers</a></li>
  </ul>
</section>


<div style="text-align:center">
  <h1>
    Dashboard
  </h1>
</div>
<table>
  <thead>
    <th>#</th>
    <th>First</th>
    <th>Last</th>
    <th>Username</th>
  </thead>
</table>

<router-outlet></router-outlet>

